{% extends 'base.html'%}
{% load bootstrap4 %}
{%block content%}
<div class="container" id="bod">
  <div class="row d-flex justify-content-center">
    {% for pic in pics%}
    <!--Displaying the pictures-->
    <div style='margin-top:50px; margin-bottom:50px;' class="card col-xs-9 col-sm-9 col-md-9 col-lg-9 ">
      {{pic.user.username}}
      <a href="{% url 'picture' pic.id %}"><img class="card-img-top mp-8 mp-8" src="{{pic.image.url}}" alt="Image"></a>

    </div>
    {% empty %}
    <div class="row">
      <h2 class="text-center">There are No Pictures</h2>
    </div>
    {% endfor %}
  </div>
</div>
{%endblock%}