<!-- Image and text -->
<nav class="navbar sticky-top navbar-light bg-light border-bottom border-light">
<div class="container ml-10 mr-10">

    <a class="navbar-brand d-flex justify-content-start" href="/" style ="font-family:'Lobster Two',cursive;">

          <h2> <i class="fab fa-instagram fa-md mr-2"></i>  |  Instagram</h2>
    </a>
    <form action="" class="form-inline d-flex justify-content-center">
        <input type="search" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
        <!--<button class="btn btn-outline-success my-2 " type="submit">Search</button>-->
    </form>
    <div class="d-flex justify-content-end">
        <i class="far fa-compass fa-lg mr-5"></i>
        <i class="far fa-heart fa-lg "></i>
        <a href ="/profile" class="far fa-user fa-lg ml-5"></a>

    </div>
</div>
</nav>
