{% extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
<div class="container" id = "bod">
    <div class="row">
        {% if pic %}
        <div class="card col-xs-9 col-sm-9 col-md-9 col-lg-9">
            {{pic.user.username}}
            <img src="{{pic.image.url}}?w=50&h=50&fit=crop" alt="Image" class="card-img-top" style="width:auto;height:500px;">
                  {{pic.post_date|timesince}} ago
            <form action="{% url 'picture' pic.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form comment_form %}
        </form>
        </div>
        {% else %}
        <div class="row">
            <h2 class="text-center">There are no images</h2>
        </div>
        {% endif %}
    </div>
    <div class="">
        {% for comment in comments %}
            <p><strong>{{comment.user.username}}</strong> : {{comment.comment}}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}